body{
    margin: auto;
    padding: 0;
    align-items: center;
    background-color:whitesmoke;
    width: 1000px;
    max-width: 1000px;
    height: auto;
}
h1{
    color:hwb(182 10% 28%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
}
nav{
    background-color:hwb(182 10% 28%) ;
    padding: 10px;
    margin-bottom: 10px;
}
nav ul{
    display: grid;
    grid-template-columns: .2fr .3fr .3fr;
    color: whitesmoke;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
}
nav a :visited{
    color: whitesmoke;
}

main{
    width: 100%;
    margin-left: 10px;
}
.kepek{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;


}
.kepek img{
    width: 300px;
    height: 100%;
    align-items: center;
    border-style: inset;
    border-color:beige;
    margin-left: 150px;
    margin-top:10px;
    padding: 10px;
    max-width: 100%;
}
.szoveg{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}
.szoveg ul{
    list-style: decimal;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
aside{
    text-align: left;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hwb(182 10% 28%);
}

@media screen and (max-width: 600px) {
    .main_container {
      width: 100%;
    }
  }